digraph dag {
fontname="Helvetica,Arial,sans-serif"
node [fontname="Helvetica,Arial,sans-serif"]
edge [fontname="Helvetica,Arial,sans-serif"]

    {% for node in nodes %} 
	{% include "node.dot.tmpl" %}
	{% endfor %}

}
